/*

Implementacion de:
    -reglas
    -selectores
    -declaraciones
    -propiedades

con CSS

*/

/* Selector de etiqueta */
body{
    font-family: 'Source Sans Pro', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
}

h1{
    font-size: 40px;
    line-height: 150%;
    font-weight: normal;
    font-style: normal;
    letter-spacing: -.2px;
    text-transform: capitalize;
    text-decoration: dashed;
}

/*Seelctor de clase */
.link{

}

/*Selector de etiqueta*/

#portfolio{

}